#**Reporte de Analisis VI**

#**Creando Nuevas Variables

In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv('/home/kukre/Alura Aulas/Python_Data_Science/Pandas/data/alquiler_residencial.csv', sep = ';')

In [3]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0

#**Agregado del Valor Bruto en los inmueble**

In [4]:
datos['Valor Bruto'] = (datos['Valor']) + (datos['Mantenimiento']) + (datos['Impuesto'])
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor Bruto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,2260.0
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,7000.0
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,1210.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,1030.0
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,1618.0
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,22000.0
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,1000.0
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,2216.0
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,1969.0
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,2611.0

#**Calculo del Valor por m2 de los inmbuebles**

In [5]:
datos['Valor m2'] = (datos['Valor']) / (datos['Area'])
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor Bruto,Valor m2
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,2260.0,42.500000
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,7000.0,70.000000
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,1210.0,53.333333
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,1030.0,16.666667
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,1618.0,26.000000
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,22000.0,29.333333
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,1000.0,15.384615
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.428571
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,1969.0,16.666667
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,2611.0,50.000000

In [7]:
datos['Valor m2'] = datos['Valor m2'].round(2)
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor Bruto,Valor m2
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,1210.0,53.33
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,1030.0,16.67
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00

#**Calculo del Valor Bruto por m2 de los inmuebles**

In [12]:
datos['Valor Bruto m2'] = ((datos['Valor Bruto']) / (datos['Area'])).round(2)
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor Bruto,Valor m2,Valor Bruto m2
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,29.33
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,15.38
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43,31.66
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67,21.88
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00,65.28

In [13]:
casa = ['Casa', 'Casa en condominio', 'Casa de villa']

In [16]:
datos['Tipo Agrupado'] = datos['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Departamento')
datos

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor Bruto,Valor m2,Valor Bruto m2,Tipo Agrupado
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50,Departamento
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00,Casa
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67,Departamento
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46,Departamento
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36,Departamento
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21821,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0,1438.0,12.86,20.54,Departamento
21822,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0,1175.0,29.63,43.52,Departamento
21823,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08,33.85,Departamento
21824,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17,40.54,Departamento
21825,Departamento,Rímac,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86,53.71,Departamento